In [1]:
# dataset aus uci Online Retail
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("../../data/data.csv",encoding="ISO-8859-1",dtype={'CustomerID': str,'InvoiceNo': str})

In [3]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom

In [4]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [5]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
#drop nan values
data.dropna(axis = 0, subset = ['CustomerID'], inplace = True)

In [7]:
#drop duplicate values
data.drop_duplicates(inplace = True)

In [8]:
data.shape

(401604, 8)

In [17]:
# EDA 
# customer number by country
data[['CustomerID','Country']].groupby(['Country']).count().sort_values(
    by='CustomerID', ascending=False)

                      CustomerID
Country
United Kingdom            356728
Germany                     9480
France                      8475
EIRE                        7475
Spain                       2528
Netherlands                 2371
Belgium                     2069
Switzerland                 1877
Portugal                    1471
Australia                   1258
Norway                      1086
Italy                        803
Channel Islands              757
Finland                      695
Cyprus                       611
Sweden                       461
Austria                      401
Denmark                      389
Japan                        358
Poland                       341
USA                          291
Israel                       247
Unspecified                  241
Singapore                    229
Iceland                      182
Canada                       151
Greece                       146
Malta                        127
United Arab Emirates          68
European Community            61
RSA                           58
Lebanon                       45
Lithuania                     35
Brazil                        32
Czech Republic                30
Bahrain                       17
Saudi Arabia                  10

In [21]:
# The number of items purchased by each customer
temp = data.groupby(by=['CustomerID', 'InvoiceNo'], as_index=False)['InvoiceDate'].count().rename(columns = {'InvoiceDate':'Number of products'})

In [22]:
temp.head()

  CustomerID InvoiceNo  Number of products
0      12346    541431                   1
1      12346   C541433                   1
2      12347    537626                  31
3      12347    542237                  29
4      12347    549222                  24

In [23]:
temp['order_cancelled'] = temp['InvoiceNo'].apply(
    lambda x:int('C' in x))

In [26]:
# cancelled orders
temp["order_cancelled"].sum()/len(temp)

0.16466876971608832

In [30]:
data.sort_values('CustomerID')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,United Kingdom
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346,United Kingdom
286623,562032,22375,AIRLINE BAG VINTAGE JET SET BROWN,4,2011-08-02 08:48:00,4.25,12347,Iceland
72260,542237,84991,60 TEATIME FAIRY CAKE CASES,24,2011-01-26 14:30:00,0.55,12347,Iceland
14943,537626,22772,PINK DRAWER KNOB ACRYLIC EDWARDIAN,12,2010-12-07 14:57:00,1.25,12347,Iceland
14944,537626,22773,GREEN DRAWER KNOB ACRYLIC EDWARDIAN,12,2010-12-07 14:57:00,1.25,12347,Iceland
14945,537626,22774,RED DRAWER KNOB ACRYLIC EDWARDIAN,12,2010-12-07 14:57:00,1.25,12347,Iceland
14946,537626,22775,PURPLE DRAWERKNOB ACRYLIC EDWARDIAN,12,2010-12-07 14:57:00,1.25,12347,Iceland
14947,537626,22805,BLUE DRAWER KNOB ACRYLIC EDWARDIAN,12,2010-12-07 14:57:00,1.25,12347,Iceland
148285,549222,22376,AIRLINE BAG VINTAGE JET SET WHITE,4,2011-04-07 10:43:00,4.25,12347,Iceland
148286,549222,22374,AIRLINE BAG VINTAGE JET SET RED,4,2011-04-07 10:43:00,4.25,12347,Iceland
148287,549222,22371,AIRLINE BAG VINTAGE TOKYO 78,4,2011-04-07 10:43:00,4.25,12347,Iceland
148289,549222,20665,RED RETROSPOT PURSE,6,2011-04-07 10:43:00,2.95,12347,Iceland
72259,542237,84992,72 SWEETHEART FAIRY CAKE CASES,24,2011-01-26 14:30:00,0.55,12347,Iceland
148290,549222,23076,ICE CREAM SUNDAE LIP GLOSS,240,2011-04-07 10:43:00,1.04,12347,Iceland
148291,549222,21791,VINTAGE HEADS AND TAILS CARD GAME,12,2011-04-07 10:43:00,1.25,12347,Iceland
148292,549222,22550,HOLIDAY FUN LUDO,8,2011-04-07 10:43:00,3.75,12347,Iceland
148293,549222,23177,TREASURE ISLAND BOOK BOX,8,2011-04-07 10:43:00,2.25,12347,Iceland
148294,549222,22432,WATERING CAN PINK BUNNY,6,2011-04-07 10:43:00,1.95,12347,Iceland
148295,549222,22774,RED DRAWER KNOB ACRYLIC EDWARDIAN,12,2011-04-07 10:43:00,1.25,12347,Iceland
148296,549222,22195,LARGE HEART MEASURING SPOONS,12,2011-04-07 10:43:00,1.65,12347,Iceland
148297,549222,22196,SMALL HEART MEASURING SPOONS,12,2011-04-07 10:43:00,0.85,12347,Iceland
148288,549222,22375,AIRLINE BAG VINTAGE JET SET BROWN,4,2011-04-07 10:43:00,4.25,12347,Iceland
72258,542237,22196,SMALL HEART MEASURING SPOONS,12,2011-01-26 14:30:00,0.85,12347,Iceland
72257,542237,22729,ALARM CLOCK BAKELIKE ORANGE,4,2011-01-26 14:30:00,3.75,12347,Iceland
72256,542237,22728,ALARM CLOCK BAKELIKE PINK,4,2011-01-26 14:30:00,3.75,12347,Iceland
428995,573511,22417,PACK OF 60 SPACEBOY CAKE CASES,24,2011-10-31 12:25:00,0.55,12347,Iceland
428996,573511,23308,SET OF 60 VINTAGE LEAF CAKE CASES,24,2011-10-31 12:25:00,0.55,12347,Iceland
428997,573511,84991,60 TEATIME FAIRY CAKE CASES,24,2011-10-31 12:25:00,0.55,12347,Iceland
428998,573511,84992,72 SWEETHEART FAIRY CAKE CASES,24,2011-10-31 12:25:00,0.55,12347,Iceland
...,...,...,...,...,...,...,...,...
392753,570715,22866,HAND WARMER SCOTTY DOG DESIGN,12,2011-10-12 10:23:00,2.10,18287,United Kingdom
392729,570715,21817,GLITTER CHRISTMAS TREE,36,2011-10-12 10:23:00,0.39,18287,United Kingdom
198729,554065,47421,ASSORTED COLOUR LIZARD SUCTION HOOK,24,2011-05-22 10:39:00,0.42,18287,United Kingdom
392728,570715,21823,PAINTED METAL HEART WITH HOLLY BELL,24,2011-10-12 10:23:00,0.39,18287,United Kingdom
392726,570715,22065,CHRISTMAS PUDDING TRINKET POT,48,2011-10-12 10:23:00,0.39,18287,United Kingdom
198731,554065,20961,STRAWBERRY BATH SPONGE,30,2011-05-22 10:39:00,1.25,18287,United Kingdom
198732,554065,23076,ICE CREAM SUNDAE LIP GLOSS,24,2011-05-22 10:39:00,1.25,18287,United Kingdom
198733,554065,23078,ICE CREAM PEN LIP GLOSS,24,2011-05-22 10:39:00,1.25,18287,United Kingdom
198734,554065,22064,PINK DOUGHNUT TRINKET POT,12,2011-05-22 10:39:00,1.65,18287,United Kingdom
198735,554065,21232,STRAWBERRY CERAMIC TRINKET BOX,12,2011-05-22 10:39:00,1.25,18287,United Kingdom
198736,554065,22644,CERAMIC CHERRY CAKE MONEY BANK,12,2011-05-22 10:39:00,1.45,18287,United Kingdom
198738,554065,21556,CERAMIC STRAWBERRY MONEY BOX,12,2011-05-22 10:39:00,2.55,18287,United Kingdom
198739,554065,85039A,SET/4 RED MINI ROSE CANDLE IN BOWL,48,2011-05-22 10:39:00,1.45,18287,United Kingdom
198740,554065,85040A,S/4 PINK FLOWER CANDLES IN BOWL,36,2011-05-22 10:39:00,1.65,18287,United Kingdom
198741,554065,85039B,S/4 IVORY MINI ROSE CANDLE IN BOWL,60,2011-05-22 10:39:00,1.45,18287,United Kingdom
198742,554065,85039B,S/4 IVORY MINI ROSE CANDLE IN BOWL,12,2011-05-22 10:39:00,1.65,18287,United Kingdom
198743,554065,85040A,S/4 PINK FLOWER CANDLES IN BOWL,12,2011-05-22 10:39:00,1.65,18287,United Kingdom
198744,554065,72349B,SET/6 PURPLE BUTTERFLY T-LIGHTS,12,2011-05-22 10:39:00,2.10,18287,United Kingdom
392716,570715,22865,HAND WARMER OWL DESIGN,12,2011-10-12 10:23:00,2.10,18287,United Kingdom
392717,570715,23264,SET OF 3 WOODEN SLEIGH DECORATIONS,12,2011-10-12 10:23:00,1.25,18287,United Kingdom
392718,570715,23274,STAR T-LIGHT HOLDER WILLIE WINKIE,12,2011-10-12 10:23:00,1.65,18287,United Kingdom
392719,570715,23272,TREE T-LIGHT HOLDER WILLIE WINKIE,12,2011-10-12 10:23:00,1.65,18287,United Kingdom
392720,570715,22603,CHRISTMAS RETROSPOT TREE WOOD,24,2011-10-12 10:23:00,0.85,18287,United Kingdom
392721,570715,22600,CHRISTMAS RETROSPOT STAR WOOD,24,2011-10-12 10:23:00,0.85,18287,United Kingdom
392722,570715,22144,CHRISTMAS CRAFT LITTLE FRIENDS,6,2011-10-12 10:23:00,2.10,18287,United Kingdom
392723,570715,23267,SET OF 4 SANTA PLACE SETTINGS,24,2011-10-12 10:23:00,1.25,18287,United Kingdom
392724,570715,22306,SILVER MUG BONE CHINA TREE OF LIFE,24,2011-10-12 10:23:00,1.06,18287,United Kingdom
392725,570715,21824,PAINTED METAL STAR WITH HOLLY BELLS,24,2011-10-12 10:23:00,0.39,18287,United Kingdom
392727,570715,21014,SWISS CHALET TREE DECORATION,24,2011-10-12 10:23:00,0.29,18287,United Kingdom
392730,570715,21819,GLITTER CHRISTMAS STAR,36,2011-10-12 10:23:00,0.39,18287,United Kingdom

In [57]:
# Analyze cancelled orders 
# here Not all cancelled orders have their corresponding original orders
cancelled = data[data["InvoiceNo"].str.contains("C")][['CustomerID','Quantity',
                                                   'StockCode','Description','UnitPrice']]

for index, col in  cancelled.iterrows():
    if data[(data['CustomerID'] == col[0]) & (data['Quantity'] == -col[1]) 
                & (data['Description'] == col[2])].shape[0] == 0: 
        print(cancelled.loc[index])
        print(15*'-'+'>'+' HYPOTHESIS NOT FULFILLED')
        break

CustomerID        14527
Quantity             -1
StockCode             D
Description    Discount
UnitPrice          27.5
Name: 141, dtype: object
---------------> HYPOTHESIS NOT FULFILLED

In [61]:
df_cleaned = data.copy(deep = True)
df_cleaned['QuantityCanceled'] = 0

entry_to_remove = [] ; doubtfull_entry = []

for index, col in  data.iterrows():
    if (col['Quantity'] > 0) or col['Description'] == 'Discount': continue        
    df_test = data[(data['CustomerID'] == col['CustomerID']) &
                         (data['StockCode']  == col['StockCode']) & 
                         (data['InvoiceDate'] < col['InvoiceDate']) & 
                         (data['Quantity']   > 0)].copy()

    # Cancelation WITHOUT counterpart
    if (df_test.shape[0] == 0): 
        doubtfull_entry.append(index)
   
    # Cancelation WITH a counterpart
    elif (df_test.shape[0] == 1): 
        index_order = df_test.index[0]
        df_cleaned.loc[index_order, 'QuantityCanceled'] = -col['Quantity']
        entry_to_remove.append(index)        
   
    # Various counterparts exist in orders: we delete the last one
    elif (df_test.shape[0] > 1): 
        df_test.sort_index(axis=0 ,ascending=False, inplace = True)        
        for ind, val in df_test.iterrows():
            if val['Quantity'] < -col['Quantity']: continue
            df_cleaned.loc[ind, 'QuantityCanceled'] = -col['Quantity']
            entry_to_remove.append(index) 
            break

KeyboardInterrupt:

In [55]:
data.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID             object
Country                object
dtype: object